In [24]:
#-*- encoding: utf8 -*-

In [1]:
#import requests
#from selenium.webdriver.common.keys import Keys
from selenium import webdriver
import pandas as pd
import numpy as np

In [45]:
## chromedriver 위치
driver = webdriver.Chrome("d:/git/chromedriver.exe")
driver.get("https://kyochon.revelup.com/login/?next=/dashboard/")

- 날짜 정보 준비

In [36]:
date_from= []
date_from.append(input('date from(dd): '))
date_from.append(input('month from(mm): '))
date_from.append(input('year from(yyyy): '))

range_from = date_from[0]+'%2F'+date_from[1]+'%2F'+date_from[2]+'+00%3A00%3A27'

date from(dd): 11
month from(mm): 12
year from(yyyy): 2018

In [37]:
date_to= []
date_to.append(input('date to(dd): '))
date_to.append(input('month to(mm): '))
date_to.append(input('year to(yyyy): '))

range_to = date_to[0]+'%2F'+date_to[1]+'%2F'+date_to[2]+'+00%3A00%3A27'

date to(dd): 17
month to(mm): 12
year to(yyyy): 2018

- 저장 폴더 준비

In [38]:
user_name = input("Enter your user name please (to access download folder): ")
directory = 'D:/Users/{}/Downloads/'.format(user_name)

Enter your user name please (to access download folder): pablo

In [39]:
# 날짜 정보 기반 리포트 링크
sales_summary = 'https://kyochon.revelup.com/brand/reports/sales_summary/json/?dining_option=&employee=&online_app=&online_app_type=&online_app_platform=&show_unpaid=1&show_irregular=1&range_from={}&range_to={}&format=csv'.format(range_from, range_to)
hourly_sales = 'https://kyochon.revelup.com/reports/hourly_sales/export/csv/?aggregate_format=hours&employee=&online_app=&online_app_type=&online_app_platform=&dining_option=&show_unpaid=1&show_irregular=1&no-filter=0&day_of_week=&range_from={}&range_to={}'.format(range_from, range_to)
product_mix = 'https://kyochon.revelup.com/reports/product_mix/data/?sort_by=&sort_reverse=&combo_expand=&employee=&online_app=&online_app_type=&online_app_platform=&dining_option=&show_unpaid=1&show_irregular=1&sort_view=1&show_class=1&quantity_settings=0&no-filter=0&day_of_week=&range_from={}&range_to={}&format=csv'.format(range_from, range_to)

- 로그인

In [46]:
driver.find_element_by_xpath('//*[@id="id_username"]').send_keys("JayceKim")
driver.find_element_by_xpath('//*[@id="id_password"]').send_keys("Qwer1234!!")
driver.find_element_by_xpath('//*[@id="form-login"]/fieldset/div[3]/input').click()
driver.implicitly_wait(3)

- 반복문으로 매장 선택

In [47]:
# 매장 팝업 열기
driver.find_element_by_xpath('//*[@id="header"]/div[2]/div[2]/div[2]').click()
driver.implicitly_wait(3)

In [49]:
# 총 매장 수 호출
import re

tmp = driver.find_element_by_class_name('fancytree-title').text
n_store = int(re.findall(string=tmp, pattern = '[0-9]+')[0])
print(n_store)

11

In [50]:
import time

# 매장 별 페이지 호출, 자료 다운로드
for i in range(1, n_store+1):
    print('data fetching on store #{}...'.format(str(i)))
    if i > 1:
        driver.find_element_by_xpath('//*[@id="header"]/div[2]/div[2]/div[2]').click()
        driver.implicitly_wait(5)
    driver.find_element_by_xpath('//*[@id="establishments-tree"]/div/div[3]/ul/li[1]/ul/li[{}]/span[2]/span[3]'.format(i)).click()
    time.sleep(5)
    
    # 날짜 조정
    driver.get(sales_summary)
    driver.implicitly_wait(5)
    driver.get(hourly_sales)
    driver.implicitly_wait(5)
    driver.get(product_mix)
    driver.implicitly_wait(10)

data fetching on store #1...
data fetching on store #2...
data fetching on store #3...
data fetching on store #4...
data fetching on store #5...
data fetching on store #6...
data fetching on store #7...
data fetching on store #8...
data fetching on store #9...
data fetching on store #10...
data fetching on store #11...

> 메뉴 업데이트 마다 확인 및 사용 (클래스 별로 메뉴 분류)

In [80]:
stores = ["arcoris", "ipc", "setia-city", "mytown", "genting", "pearl", "penang", "sunway-pyramid", "pavilion", "1-utama"]
for i in stores:
    product_mix = "Product_Mix_{}_{}_00-00_{}_00-00.csv".format(i,
                                                            (date_from[2] + '-' +date_from[1] +'-'+ date_from[0]),
                                                            (date_to[2] + '-' +date_to[1] +'-'+ date_to[0]))
    if i =='arcoris':
        tmp = pd.read_csv(directory+product_mix).groupby('Class', as_index = False).sum()
    else:
        try:
            tmp = pd.concat([tmp, pd.read_csv(directory+product_mix).groupby('Class', as_index = False).sum()])
        except:
            pass
        
tmp = tmp.Class.unique()
tmp.sort()

In [73]:
tmp

array(['Alcohol', 'Bottled Water', 'Coffee', 'Coupon', 'Extra Items',
       'Honey', 'Mixed', 'Original / Red', 'Rice', 'Rice Series',
       'SalSal', 'Salads', 'Sides', 'Soft Drinks', 'Ala Carte', 'Combo',
       'Hot / Cold Teas', 'Mocktails', 'Quenchers', 'Samples'],
      dtype=object)

In [81]:
tmp

array(['Ala Carte', 'Alcohol', 'Bottled Water', 'Coffee', 'Combo',
       'Coupon', 'Extra Items', 'Honey', 'Hot / Cold Teas', 'Mixed',
       'Mocktails', 'Original / Red', 'Quenchers', 'Rice', 'Rice Series',
       'SalSal', 'Salads', 'Samples', 'Sides', 'Soft Drinks'],
      dtype=object)

In [52]:
tobe = ["Beverage", "Beverage", "Beverage", "Delete", "Delete",
 "Chicken", "Chicken", "Chicken", "Side", "Chicken",
 "Chicken", "Side", "Salad", "Beverage", "A-La-Carte",
 "Chicken", "Beverge", "Beverage", "Beverage", "Delete"]

menu = pd.DataFrame([tmp, tobe]).T
menu.columns = ['asis', 'tobe']
menu.to_csv("Weekly/menu.csv", index=False)

___

- 다운로드 기반 필요 데이터 추출

In [53]:

menu = pd.read_csv("Weekly/menu.csv")

> functions 정의

In [54]:
# 메뉴 별 판매비중 데이터 정제 함수 (메뉴 별 판매)

def pd_mix_func(data):
    global tmp_pd, sales_by_menu
    
    try:
        tmp_pd = pd.merge(pd.read_csv(directory+data, engine='python').groupby("Class", as_index=False).sum(),
                   menu,
                   left_on="Class",
                   right_on = "asis").groupby('tobe').sum()['Total Sales']
    except:
        for i in range(len(tmp_pd)):
            tmp_pd[i] = np.NaN
    if store == stores[0]:
        sales_by_menu = pd.DataFrame(tmp_pd)
    else:
        sales_by_menu = pd.concat([sales_by_menu, pd.DataFrame(tmp_pd)], axis = 1, sort = False)

In [55]:
# 시간 별 판매 데이터 정제 (시간 별 판매)
def hourly_func(data):
    global sales_by_time
    
    temp = pd.read_csv(directory+data, engine='python')[['Time', 'Sales']].iloc[9:24]
    
    if store == stores[0]:
        sales_by_time = pd.DataFrame(temp)
    else:
        sales_by_time = pd.concat([sales_by_time, pd.DataFrame(temp)["Sales"]], axis = 1, sort = False)

In [56]:
# 기초 데이터 정제 (매출 + 판매 타입)

def sales_func(data):
    global daily_gross_sales, daily_net_sales, sales_by_order
    
    
    temp = pd.read_csv(directory+data, engine='python')#[['Gross Sales', 'Net Sales','Togo Sales', 'Eatin Sales', 'Delivery Sales',
                                                       # 'Catering Sales', 'WebOrder', 'Online Sales', 'Shipping Sales', 'Takeaway']]
    temp1 = pd.DataFrame([temp[['Eatin Sales', 'Catering Sales']].sum().sum(),
                         temp[['Togo Sales', 'Takeaway']].sum().sum() ,
                         temp[['Delivery Sales', 'Online Sales', 'Shipping Sales']].sum().sum()],
                        index = ['Dining', 'Take-out', 'Delivery'])
    
    if store == stores[0]:
        daily_gross_sales = pd.DataFrame(temp['Gross Sales'])
        daily_net_sales = pd.DataFrame(temp['Net Sales'])
        sales_by_order = temp1
    else:
        daily_gross_sales = pd.concat([daily_gross_sales,temp['Gross Sales']], axis = 1, sort = False)
        daily_net_sales = pd.concat([daily_net_sales,temp['Net Sales']], axis = 1, sort = False)
        sales_by_order = pd.concat([sales_by_order, temp1], axis = 1, sort = False)

> 매장 별로 데이터 호출 및 정제 (위 함수 사용)

In [87]:
for store in stores:
    product_mix = "Product_Mix_{}_{}_00-00_{}_00-00.csv".format(store,
                                                            (date_from[2] + '-' +date_from[1] +'-'+ date_from[0]),
                                                            (date_to[2] + '-' +date_to[1] +'-'+ date_to[0]))
    hourly_sales = "Hourly_Sales_{}_{}_00-00_{}_00-00.csv".format(store,
                                                            (date_from[2] + '-' +date_from[1] +'-'+ date_from[0]),
                                                            (date_to[2] + '-' +date_to[1] +'-'+ date_to[0]))
    sales_summary = "Sales_Summary_{}_{}_00-00_{}_00-00.csv".format(store,
                                                            (date_from[2] + '-' +date_from[1] +'-'+ date_from[0]),
                                                            (date_to[2] + '-' +date_to[1] +'-'+ date_to[0]))
    
    print(store)
    pd_mix_func(product_mix)
    hourly_func(hourly_sales)
    sales_func(sales_summary)
    
    if store == stores[-1]:
        sales_by_time.columns = ['Time'] + stores
        sales_by_menu.columns = stores
        daily_gross_sales.columns = stores
        daily_net_sales.columns = stores
        sales_by_order.columns = stores

arcoris
ipc
setia-city
mytown
genting
pearl
penang
sunway-pyramid
pavilion
1-utama

In [59]:
writer = pd.ExcelWriter('Weekly/pandas_simple.xlsx', engine='xlsxwriter')

daily_net_sales.to_excel(writer, sheet_name="raw data")
daily_gross_sales.to_excel(writer, sheet_name="raw data", startrow=9)
sales_by_order.to_excel(writer, sheet_name="raw data", startrow=9+9)
sales_by_menu.to_excel(writer, sheet_name="raw data", startrow=9+9+5)
sales_by_time.to_excel(writer, sheet_name="raw data", startrow=9+9+5+9, index=False)

writer.save()

In [94]:
a = datetime.datetime.now()
time.sleep(3)
datetime.datetime.now()-a

datetime.timedelta(seconds=3, microseconds=77)

In [106]:
a = time.time()
time.sleep(3)
time.time()-a

3.0001373291015625

In [118]:
today = datetime.date.today()

In [122]:
time.ctime()

'Sat Dec 29 01:05:30 2018'

In [117]:
minute, second = np.divmod(time.time()-a, 60)
print("Data fetching finished at {}min, {}second". format(int(minute), int(second)))

Data fetching finished at 14min, 20second

In [115]:
(time.time()-a)/60

12.977158502737682

In [103]:
b.total_seconds()

65.150892

In [83]:
import datetime

In [85]:
datetime.date.today()

datetime.date(2018, 12, 28)

___
___
___

In [60]:
import os

In [69]:
pd.Series(os.listdir('weekly/')).isin(["menu.csv"]).sum()

0

In [ ]:
pd.read_csv('c:/users/박찬우/downloads/Product_Mix_mytown_2018-12-18_00-00_2018-12-24_00-00.csv', engine='python')

___
___
___

In [201]:
daily_net_sales

,arcoris,ipc,setia-city,mytown,genting,pearl,penang,sunway-pyramid,hap-seng,pavilion,1-utama
0,5392.00,8260.83,13331.37,23412.00,16125.46,4044.21,9447.90,18892.50,0.0,27225.72,22679.82
1,4686.50,8546.08,14017.20,22913.39,14965.41,4761.20,7755.20,19487.41,0.0,28420.95,22468.19
2,5032.35,9647.50,15240.96,23411.68,17105.04,4846.10,11602.30,20625.25,0.0,30845.60,23362.63
3,6064.00,10087.55,15431.60,27002.30,18693.93,5418.40,12606.14,22769.90,0.0,32154.09,25716.99
4,6233.00,12336.93,18701.03,27333.83,25893.60,5909.10,16626.70,26467.44,0.0,35517.35,28620.30
5,4799.00,12734.66,20443.14,29827.16,26726.78,6804.00,17030.44,25851.60,0.0,35442.74,29713.54
6,32206.85,61613.55,97165.30,153900.36,119510.22,31783.01,75068.68,134094.10,0.0,189606.45,152561.47

In [237]:
writer = pd.ExcelWriter('pandas_simple.xlsx', engine='xlsxwriter')

In [238]:
daily_net_sales.to_excel(writer, sheet_name="raw data")
daily_gross_sales.to_excel(writer, sheet_name="raw data", startrow=9)
sales_by_order.to_excel(writer, sheet_name="raw data", startrow=9+9)
sales_by_menu.to_excel(writer, sheet_name="raw data", startrow=9+9+5)
sales_by_time.to_excel(writer, sheet_name="raw data", startrow=9+9+5+9, index=False)

In [221]:
wb = openpyxl.Workbook()

In [239]:
writer.save()

In [231]:
print(daily_net_sales.shape)
print(daily_gross_sales.shape)
print(sales_by_order.shape)
print(sales_by_menu.shape)
print(sales_by_time.shape)

(7, 11)
(7, 11)
(3, 11)
(7, 11)
(15, 12)

In [251]:
os.listdir(u"C:\\")

['$Recycle.Bin',
 'Addresses_in_the_City_of_Los_Angeles.csv',
 'bcl.log',
 'bootTel.dat',
 'DiskLock',
 'Documents and Settings',
 'DuzonDass',
 'Git',
 'hiberfil.sys',
 'InjectIntoProcess crash',
 'Intel',
 'mp',
 'MSOCache',
 'NeoICube',
 'pagefile.sys',
 'Pavilion.html',
 'PerfLogs',
 'Product_Mix_pavilion_2018-12-18_00-00_2018-12-24_00-00.csv',
 'Program Files',
 'Program Files (x86)',
 'ProgramData',
 'Programming',
 'Recovery',
 'Riot Games',
 'Shopping',
 'snf_log_20180529.txt',
 'stream_twitter.py',
 'swapfile.sys',
 'System Volume Information',
 'Temp',
 'tempWw.log',
 'tweet_kyochon.txt',
 'Users',
 'WaterwallSecurityDriveEnterpriseFV.wwsd',
 'Weekly Sales Report(MY).xlsx',
 'Windows',
 'WWCNT',
 'WWNTUSER',
 'XecureSSL',
 '_exception_log.txt']

In [226]:
for r in dataframe_to_rows(daily_net_sales, index = True, header = True):
    ws.append(r)

In [229]:
!pip install xlsxwriter

Requirement already satisfied: xlsxwriter in c:\programming\anaconda3\lib\site-packages (1.1.0)

In [267]:
path.encode('utf-8')[3:].decode('utf-8')

'c:/Users/박찬우/Downloads/Hourly_Sales_arcoris_2018-12-18_00-00_2018-12-24_00-00.csv'

In [4]:
path = u'‪c:/Users/박찬우/Downloads/Hourly_Sales_arcoris_2018-12-18_00-00_2018-12-24_00-00.csv'
path.encode('utf-8')[3:]

b'c:/Users/\xeb\xb0\x95\xec\xb0\xac\xec\x9a\xb0/Downloads/Hourly_Sales_arcoris_2018-12-18_00-00_2018-12-24_00-00.csv'

In [7]:

f = open(u'‪c:/users/박찬우/downloads/hourly_sales_arcoris_2018-12-18_00-00_2018-12-24_00-00.csv', 'rb')

csv_f = csv.reader(f)

for row in csv_f:
    print(row)
f.close()

OSError: [Errno 22] Invalid argument: '\u202ac:/Users/박찬우/Downloads/Hourly_Sales_arcoris_2018-12-18_00-00_2018-12-24_00-00.csv'

In [27]:
'c:/users/박찬우/downloads/' + os.listdir('c:/users/박찬우/downloads')[185]

'c:/users/박찬우/downloads/Hourly_Sales_genting_2018-12-18_00-00_2018-12-24_00-00.csv'

In [33]:
pd.read_csv('c:/users/박찬우/downloads/Product_Mix_mytown_2018-12-18_00-00_2018-12-24_00-00.csv', engine='python')

,Row Type,Parent Product Class,Class,Name,Product Category,Product Subcategory,Parent Product,Qty,Weight,Total Sales,COGS
0,Product,Food,Ala Carte,Bibimbap (Soy),Ala Carte,Ala Carte,NaN,8,NaN,168.0,24.00
1,Product,Food,Ala Carte,Bibimbap (Spicy),Ala Carte,Ala Carte,NaN,16,NaN,336.0,48.00
2,Product,Food,Ala Carte,Dakganjeong,Ala Carte,Ala Carte,NaN,17,NaN,510.0,184.79
3,Product,Food,Ala Carte,Spicy Bulgogi,Ala Carte,Ala Carte,NaN,27,NaN,702.0,337.88
4,Product,Drinks,Bottled Water,Spritzer 600ml,Drinks,Bottled Water,NaN,463,NaN,1852.0,392.21
5,Product,Drinks,Bottled Water,Spritzer 600ml,Takeaway Drinks,Drinks,NaN,8,NaN,24.0,6.78
6,Product,Food,Combo,Clear Soup,Combo,* Upsell Combo Items,NaN,2803,NaN,0.0,1605.00
7,Product,Food,Combo,Iced Lemon Tea - Combo,Combo,* Upsell Combo Items,NaN,1305,NaN,0.0,4.18
8,Product,Food,Honey,1/2 Chicken - Honey (NC),Series,Honey,1/2 Chicken Honey,21,NaN,630.0,155.78
9,Product,Food,Honey,1/2 Chicken - Honey~,KyoChon Series,Honey,NaN,5,NaN,150.0,37.09
10,Product,Food,Honey,1/2 Chicken Honey (LC),Series,Honey,1/2 Chicken Honey,10,NaN,343.0,74.18
11,Product,Food,Honey,1/2 Chicken Honey (MC),Series,Honey,1/2 Chicken Honey,14,NaN,513.0,103.85
12,Product,Food,Honey,1/2 Chicken Honey (SC),Series,Honey,1/2 Chicken Honey,1,NaN,34.0,7.42
13,Product,Food,Honey,12 Honey Wings (LC),Series,Honey,12 Honey Wings,31,NaN,1184.0,267.01
14,Product,Food,Honey,12 Honey Wings (MC),Series,Honey,12 Honey Wings,41,NaN,1288.0,353.14
15,Product,Food,Honey,12 Honey Wings (NC),Series,Honey,12 Honey Wings,135,NaN,4050.0,1162.78
16,Product,Food,Honey,12 Honey Wings (SC),Series,Honey,12 Honey Wings,16,NaN,524.0,137.81
17,Product,Food,Honey,12 Honey Wings~,KyoChon Series,Honey,NaN,11,NaN,330.0,94.75
18,Product,Food,Honey,20 Honey Wings (LC),Series,Honey,20 Honey Wings,19,NaN,1042.0,287.09
19,Product,Food,Honey,20 Honey Wings (MC),Series,Honey,20 Honey Wings,10,NaN,472.0,151.10
20,Product,Food,Honey,20 Honey Wings (NC),Series,Honey,20 Honey Wings,55,NaN,2695.0,831.05
21,Product,Food,Honey,20 Honey Wings (SC),Series,Honey,20 Honey Wings,8,NaN,425.0,120.88
22,Product,Food,Honey,20 Honey Wings~,KyoChon Series,Honey,NaN,7,NaN,343.0,105.77
23,Product,Food,Honey,8 Honey Wings (LC),Series,Honey,8 Honey Wings,36,NaN,776.0,195.36
24,Product,Food,Honey,8 Honey Wings (MC),Series,Honey,8 Honey Wings,144,NaN,3657.0,781.44
25,Product,Food,Honey,8 Honey Wings (NC),Series,Honey,8 Honey Wings,295,NaN,6195.0,1600.88
26,Product,Food,Honey,8 Honey Wings (SC),Series,Honey,8 Honey Wings,49,NaN,1182.0,265.91
27,Product,Food,Honey,8 Honey Wings~,KyoChon Series,Honey,NaN,11,NaN,231.0,59.69
28,Product,Food,Honey,Whole Chicken Honey (LC),Series,Honey,Whole Chicken Honey,1,NaN,54.0,13.86
29,Product,Food,Honey,Whole Chicken Honey (MC),Series,Honey,Whole Chicken Honey,1,NaN,65.0,13.86
...,...,...,...,...,...,...,...,...,...,...,...
167,Product,Food,Rice,Kimchi Fried Rice (Single),Combo,* Upsell Combo Items,NaN,173,NaN,0.0,524.80
168,Product,Food,Rice,Steamed Rice,Ala Carte,Rice,NaN,2854,NaN,11416.0,1318.55
169,Product,Food,SalSal,12 Salsal (LC),Series,SalSal,12 Salsal,1,NaN,74.0,6.96
170,Product,Food,SalSal,12 Salsal (MC),Series,SalSal,12 Salsal,1,NaN,51.0,6.96
171,Product,Food,SalSal,12 Salsal (NC),Series,SalSal,12 Salsal,21,NaN,714.0,147.28
172,Product,Food,SalSal,4 Salsal (LC),Series,SalSal,4 Salsal,3,NaN,50.0,20.88
173,Product,Food,SalSal,4 Salsal (MC),Series,SalSal,4 Salsal,11,NaN,217.0,72.18
174,Product,Food,SalSal,4 Salsal (NC),Series,SalSal,4 Salsal,103,NaN,1236.0,708.21
175,Product,Food,SalSal,4 Salsal (SC),Series,SalSal,4 Salsal,5,NaN,85.0,33.71
176,Product,Food,SalSal,4 Salsal~,KyoChon Series,SalSal,NaN,4,NaN,48.0,27.84
177,Product,Food,SalSal,8 Salsal (LC),Series,SalSal,8 Salsal,2,NaN,129.0,13.92
178,Product,Food,SalSal,8 Salsal (MC),Series,SalSal,8 Salsal,7,NaN,205.0,48.73
179,Product,Food,SalSal,8 Salsal (NC),Series,SalSal,8 Salsal,99,NaN,2376.0,693.55
180,Product,Food,SalSal,8 Salsal (SC),Series,SalSal,8 Salsal,8,NaN,206.0,56.79
181,Product,Food,SalSal,8 Salsal~,KyoChon Series,SalSal,NaN,6,NaN,144.0,57.51
182,Product,Food,SalSal,Soy Salsal Salad,Sides & Salad,Salad,NaN,15,NaN,285.0,32.67
183,Product,Food,Salads,Organic Green Salad,Sides & Salad,Salad,NaN,51,NaN,765.0,41.18
184,Product,Food,Sides,Egg,Ala Carte,Rice,NaN,128,NaN,256.0,0.00
185,Product,Food,Sides,Potato Wedges,Sides & Salad,Sides,NaN,107,NaN,856.0,287.64
186,Product,Drinks,Soft Drinks,Coca Cola (Can),Takeaway Drinks,Drinks,NaN,2,NaN,6.0,2.14
187,Product,Drinks,Soft Drinks,Coca Cola (Glass),Drinks,Soft Drink,NaN,428,NaN,2140.0,1.37
188,Product,Drinks,Soft Drinks,Coke Zero (Glass),Drinks,Soft Drink,NaN,136,NaN,680.0,102.00
189,Product,Drinks,Soft Drinks,Iced Lemon Tea (Can),Takeaway Drinks,Drinks,NaN,1,NaN,4.0,1.04
190,Product,Drinks,Soft Drinks,Iced Lemon Tea (Glass),Drinks,Soft Drink,NaN,221,NaN,1547.0,0.71
191,Product,Drinks,Soft Drinks,Mango Chamomile (Can),Takeaway Drinks,Drinks,NaN,1,NaN,4.0,1.00
192,Product,Drinks,Soft Drinks,Mango Chamomile (Glass),Drinks,Soft Drink,NaN,454,NaN,3178.0,471.80
193,Product,Drinks,Soft Drinks,Passion Fruit Tea (Can),Takeaway Drinks,Drinks,NaN,3,NaN,12.0,3.00
194,Product,Drinks,Soft Drinks,Passion Fruit Tea (Glass),Drinks,Soft Drink,NaN,596,NaN,4172.0,619.36
195,Product,Drinks,Soft Drinks,Sprite (Glass),Drinks,Soft Drink,NaN,172,NaN,860.0,1.26
196,Product,NaN,Coupon,RM20 Voucher,Coupon,Coupon,NaN,47,NaN,-940.0,0.00

In [26]:
pd.read_csv('c:/users/박찬우/downloads/' + os.listdir('c:/users/박찬우/downloads')[185])

OSError: Initializing from file failed

In [ ]:
df1.to_excel(writer, sheet_name='Sheet1')  # Default position, cell A1.
df2.to_excel(writer, sheet_name='Sheet1', startcol=3)
df3.to_excel(writer, sheet_name='Sheet1', startrow=6)