In [1]:
from selenium import webdriver
import pandas as pd
import numpy as np
import re
import time
import datetime
import os
from bs4 import BeautifulSoup as bs

In [4]:
#driver = webdriver.Chrome(r"C:\Users\chpar10\OneDrive - IKEA\DA\chromedriver.exe")
driver = webdriver.Chrome(r"D:\Git\chromedriver.exe")

In [5]:
driver.get('http://kyochon.revelup.com')

In [7]:
driver.find_element_by_xpath('//*[@id="auth0-lock-container-1"]/div/div[2]/form/div/div/div/div[2]/div[2]/span/div/div/div/div/div/div/div/div/div/div/div[1]/div/input').send_keys("gyutae")
driver.find_element_by_xpath('//*[@id="auth0-lock-container-1"]/div/div[2]/form/div/div/div/div[2]/div[2]/span/div/div/div/div/div/div/div/div/div/div/div[2]/div[1]/div/input').send_keys("Teddygom850212!")
driver.find_element_by_xpath('//*[@id="auth0-lock-container-1"]/div/div[2]/form/div/div/div/button').click()

In [34]:
def sto_summary():
    # Stores
    sto = driver.find_element_by_xpath('//*[@id="header"]/div[2]/div[5]/div[2]/span').text

    now = datetime.datetime.now()

    # Dates
    now_date = str(now.year) + '-' + ('0' + str(now.month))[-2:] + '-' + ('0' + str(now.day))[-2:]
    # Time
    now_hour = str(now.hour)

    # Net sales
    acc_sales = driver.find_element_by_xpath('//*[@id="table_data_place"]/div[1]/div[1]/ul/li[1]/ul/li[1]/div/div[2]').text
    # Net transaction
    acc_transaction = driver.find_element_by_xpath('//*[@id="table_data_place"]/div[1]/div[2]/ul/li[1]/ul/li[1]/div/div[2]').text
    # avg check (calculated)
    try:
        avg_check = float(acc_sales)/float(acc_transaction)
    except ZeroDivisionError:
        avg_check = 0

    table1 = pd.DataFrame([sto, now_date, now_hour, acc_sales, acc_transaction, avg_check], 
                          index = ['Store', 'Date', 'Hour', 'Sales', 'Transaction', 'Avg. check'],
                          columns = ['Summary'])
    return table1

In [9]:
def prod_mix():
    tbl_len = len(driver.find_elements_by_class_name('last-matrix-element'))
    table2 = {}
    for i in range(tbl_len):
        table2[driver.find_elements_by_class_name('product-description-container')[i].text] = {'Qty': driver.find_elements_by_class_name('n_items')[i+1].text, 
                                                                                              'Sales': driver.find_elements_by_class_name('price')[i+1].text}
    return pd.DataFrame(table2).T

In [43]:
#for loop
n_sto = len(driver.find_elements_by_class_name('fancytree-title.disabled'))

summ = []
for i in range(n_sto):
        
    

    driver.find_element_by_xpath('//*[@id="header"]/div[2]/div[5]/div[2]/span').click()
    time.sleep(5)
    driver.find_element_by_xpath('//*[@id="establishments-tree"]/div/div[2]/div[2]/div[2]/span[1]').click()
    time.sleep(3)
    driver.find_elements_by_class_name('fancytree-title.disabled')[i].click()
#    time.sleep(7)
#    driver.find_element_by_xpath('//*[@id="navigation"]/div/ul/li[2]/a/span').click()
    time.sleep(10)
    summ.append(sto_summary())
    #driver.find_element_by_xpath('//*[@id="report_sub_nav"]/li[4]/a').click()
    #time.sleep(5)
    #range_mix = prod_mix()

 
    
    print(driver.find_element_by_xpath('//*[@id="header"]/div[2]/div[5]/div[2]/span').text)

Element Fresh (Pavillion)
Midvalley Southkey
R&F Mall
TOPPEN
Arcoris
MyTown
Pavilion
Pearl
The Gardens Mall
Wisma Central (D.K)
AEON Nilai
Genting
IOI City Mall
1 Utama
D. Perdana (D.K)
D. Uptown (D.K)
IPC
SS2
Central i-City
Petronas (Jln Plumbum)
Setia City
IOI Puchong
Sunway Pyramid

In [38]:
n_sto = len(driver.find_elements_by_class_name('fancytree-title.disabled'))
n_sto

0

In [13]:
for i in driver.find_elements_by_class_name('fancytree-title.disabled'):
    print(i.text)

27 | Element Fresh (Pavilli...
16 | Midvalley Southkey
17 | R&F Mall
26 | TOPPEN
14 | Arcoris
11 | MyTown
2 | Pavilion
9 | Pearl
28 | The Gardens Mall
21 | Wisma Central (D.K)
20 | AEON Nilai
10 | Genting
18 | IOI City Mall
1 | 1 Utama
23 | D. Perdana (D.K)
22 | D. Uptown (D.K)
13 | IPC
19 | SS2
24 | Central i-City
25 | Petronas (Jln Plumbum)
12 | Setia City
15 | IOI Puchong
7 | Sunway Pyramid

In [32]:
//*[@id="establishments-tree"]/div/div[3]/ul/li[1]/ul/li[2]/ul/li[6]/ul/li[1]/ul/li[2]/span[5]/span[3]

[                               Summary
 Store        Element Fresh (Pavillion)
 Date                        2020-07-31
 Hour                                16
 Sales                          1451.21
 Transaction                         17
 Avg. check                     85.3653,
                         Summary
 Store        Midvalley Southkey
 Date                 2020-07-31
 Hour                         16
 Sales                   1645.01
 Transaction                  26
 Avg. check              63.2696,
                 Summary
 Store          R&F Mall
 Date         2020-07-31
 Hour                 16
 Sales            516.03
 Transaction           9
 Avg. check      57.3367,
                 Summary
 Store            TOPPEN
 Date         2020-07-31
 Hour                 16
 Sales           1532.03
 Transaction          30
 Avg. check      51.0677,
                 Summary
 Store           Arcoris
 Date         2020-07-31
 Hour                 16
 Sales           1937.74
 Transaction          31
 Avg. check      62.5077,
                 Summary
 Store            MyTown
 Date         2020-07-31
 Hour                 16
 Sales           6301.16
 Transaction          99
 Avg. check      63.6481,
                 Summary
 Store          Pavilion
 Date         2020-07-31
 Hour                 16
 Sales           3164.56
 Transaction          57
 Avg. check      55.5186,
                 Summary
 Store             Pearl
 Date         2020-07-31
 Hour                 16
 Sales           3676.04
 Transaction          62
 Avg. check       59.291,
                       Summary
 Store        The Gardens Mall
 Date               2020-07-31
 Hour                       16
 Sales                 4969.73
 Transaction                84
 Avg. check            59.1635,
                          Summary
 Store        Wisma Central (D.K)
 Date                  2020-07-31
 Hour                          16
 Sales                     371.71
 Transaction                    7
 Avg. check               53.1014,
                 Summary
 Store        AEON Nilai
 Date         2020-07-31
 Hour                 16
 Sales           2191.64
 Transaction          32
 Avg. check      68.4887,
                 Summary
 Store           Genting
 Date         2020-07-31
 Hour                 16
 Sales           4009.26
 Transaction          51
 Avg. check      78.6129,
                    Summary
 Store        IOI City Mall
 Date            2020-07-31
 Hour                    16
 Sales              3058.23
 Transaction             46
 Avg. check         66.4833,
                 Summary
 Store           1 Utama
 Date         2020-07-31
 Hour                 16
 Sales           7890.30
 Transaction         119
 Avg. check       66.305]

In [44]:
pd.concat(summ, axis=1)

,Summary,Summary,Summary,Summary,Summary,Summary,Summary,Summary,Summary,Summary,Summary,Summary,Summary,Summary
Store,Element Fresh (Pavillion),Midvalley Southkey,R&F Mall,TOPPEN,Arcoris,MyTown,Pavilion,Pearl,The Gardens Mall,Wisma Central (D.K),AEON Nilai,Genting,IOI City Mall,1 Utama
Date,2020-07-31,2020-07-31,2020-07-31,2020-07-31,2020-07-31,2020-07-31,2020-07-31,2020-07-31,2020-07-31,2020-07-31,2020-07-31,2020-07-31,2020-07-31,2020-07-31
Hour,16,16,16,16,16,16,16,16,16,16,16,16,16,16
Sales,1549.12,1783.85,516.03,1551.84,2026.42,7033.15,3657.77,3711.89,5143.03,371.71,2351.45,4266.72,3320.12,8087.48
Transaction,18,29,9,31,33,111,63,63,89,7,35,53,49,121
Avg. check,86.0622,61.5121,57.3367,50.0594,61.4067,63.3617,58.0598,58.9189,57.7869,53.1014,67.1843,80.5042,67.7576,66.8387

In [45]:
i

22